<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        }

        h1 {
        color: #333;
        text-align: center;
        margin-top: 50px;
        }

        a {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #007bff;
        text-decoration: none;
        }

        a:hover {
        text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Thanks For SignUp</h1>
    <a href="/login">Go to a Login Page</a>
</body>
</html>